.services {
  text-align: center;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
  font-weight: bold;
}

.card:hover {
  background: #f39c12;
  color: white;
}
